
.footer {
  position: fixed;
  left: 0;
  bottom: 10px;
  width: 100%;
  color: #BDBDBD;;
  text-align: center;
}
a.id:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a.id:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a.id:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a.id:active {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
.tp1{
	
	font-family: Inconsolata;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 25px;
	letter-spacing: -0.08em;
	text-transform: uppercase;

	color: #333333;
}
.text1{
	

	font-family: Space Mono;
	font-style: normal;
	font-weight: bold;
	font-size: 55px;
	line-height: 95px;
	letter-spacing: -0.035em;

	/* Gray 1 */

	color: #333333;
}
.text2{
	
	font-family: Space Mono;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 36px;
	letter-spacing: -0.035em;
	width:70%;
	padding-bottom:20px;
	/* Gray 2 */

	color: #4F4F4F;
	
}
.container{
	position: relative;
	top:40px;
	padding-bottom:2.5rem;
}
.row{
	position: relative;
	top: 200px;
}
.column, .img{
	position: relative;
	left: 5.35%;
	right: 57.21%;
	top: 24.54%;
	bottom: 34.03%;
	
	
}



.img {
  float: left;
  width: 100%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  .column {
	  width: 100%;
  }
  .row{
	  top:40px;
	  
	padding-bottom: 50px;
  }
  .text2{
	  width:100%;
  }
  .img{
	  left:0;
  }
}
  .button{
	width: 216px;
	height: 68px;
	left: 740px;
	top: 363px;
	/* Gray 1 */

	background: #333333;
	font-family: Space Mono;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 21px;
	/* identical to box height */

	letter-spacing: -0.035em;
	text-transform: uppercase;

	color: #FFFFFF;
}

